{% extends "UserBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1>Admin Agent Page</h1>
    <ul>
        <li><a href="{{ path('admin_demo_home') }}">Back to admin home page</a></li>
    </ul>
{% endblock %}
