{% extends "UserBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1>Manage Home</h1>
    <a href="{{ path('manage_logout') }}">Logout</a>
{% endblock %}
